# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# other files
*.tgz
.helmignore
.helmdocsignore
verify_digest.sh
check_lint.sh
README.md.gotmpl
README-values.md.gotmpl
README-deployment.md.gotmpl
